venv/
builds/
*~
*.pyc
*.swp
test.exe
dist/
build/
libs/
# These are artifacts when using editable builds
local/lib
local/include
local/openblas.egg-info
local/openblas/lib
local/openblas/include
local/openblas/*.so
local/openblas/*.pyd
local/openblas/*.dylib
# just for test
numpy/
