venv/
builds/
*~
*.pyc
*.swp
for_test/
test.exe
dist/
build/
libs/
# These are artifacts when using editable builds
local/lib
local/include
local/scipy_openblas64.egg-info
local/scipy_openblas64/lib
local/scipy_openblas64/include
local/scipy_openblas64/*.so
local/scipy_openblas64/*.pyd
local/scipy_openblas64/*.dylib
