env:
    global:
        # The archive that gets built has name from ``git describe`` on this
        # commit.
        - OPENBLAS_COMMIT: "v0.3.29-265-gb5456c1b"
        - REPO_DIR=OpenBLAS

dist: jammy
services: docker

jobs:
  include:
    - os: linux
      arch: s390x
      env:
        - PLAT=s390x
        - MB_ML_VER=2014
        - INTERFACE64=0
        - DOCKER_TEST_IMAGE=multibuild/xenial_{PLAT}
    - os: linux
      arch: s390x
      env:
        - PLAT=s390x
        - INTERFACE64=1
        - MB_ML_VER=2014
        - DOCKER_TEST_IMAGE=multibuild/xenial_{PLAT}
    - os: linux
      arch: ppc64le
      env:
        - PLAT=ppc64le
        - MB_ML_VER=2014
        - INTERFACE64=0
        - DOCKER_TEST_IMAGE=multibuild/xenial_{PLAT}
    - os: linux
      arch: ppc64le
      env:
        - PLAT=ppc64le
        - INTERFACE64=1
        - MB_ML_VER=2014
        - DOCKER_TEST_IMAGE=multibuild/xenial_{PLAT}

before_install:
    - source tools/build_steps.sh
    - before_build

install:
    # Maybe get and clean and patch source
    - |
      if [ ${TRAVIS_EVENT_TYPE} == "cron" ]; then
        clean_code_local $REPO_DIR develop
      else
        clean_code_local $REPO_DIR $OPENBLAS_COMMIT
      fi
      echo done install step

script:
    # Build library and collect into libs subdirectory
    - travis_wait 30 build_on_travis
    - libc=${MB_ML_LIBC:-manylinux}
    - docker_image=quay.io/pypa/${libc}${MB_ML_VER}_${PLAT}
    - docker run --rm -e INTERFACE64="${INTERFACE64}" -e MB_ML_LIBC="${MB_ML_LIBC}" -v $(pwd):/openblas "${docker_image}" /bin/bash -xe /openblas/tools/build_wheel.sh

after_success:
    - set +ex
    - sudo chmod -R a+w /home/travis/.cache
    - pip install -q git+https://github.com/Anaconda-Platform/anaconda-client@1.13.0
    # Upload libraries to the shared staging area on anaconda.org
    - sudo chmod -R a+w dist
    - source tools/upload_to_anaconda_staging.sh
    - upload_wheels
